/* Aqui va la paleta de colores */
:root {
  --color-fondo: #fff;

  --color-primario: #775548;
  --color-en-primario: #fff;
  --color-secundario: #d8b03b;

  --color-link: #ef6d24;

  /* Colores extraidos desde los sitios oficiales */
  --color-la-nacion: #006998;
  --color-pagina12: #8d0000;
}

/* Ahora la imagen es responsive */
img {
  width: 100%;
}

body {
  font-family: Verdana, Arial, sans-serif;
  color: var(--color-primario);
}

nav a {
  font-size: 20px; 
}

a {
  font-weight: bold;
  color: var(--color-link);
}

h2 {
  color: var(--color-en-primario); 
  background: var(--color-primario);

  font-size: 18px;
}

.elegirnos {
  color: var(--color-secundario);
}

.laNacion {
  color: var(--color-la-nacion);
}

.pagina12{
  color: var(--color-pagina12);
}