
/* Ahora la imagen es responsive */
img {
  width: 100%;
}

body {
  font-family: Verdana, Arial, sans-serif;
  color: #775548;
}

li a, nav a{font-weight: bold;}
h3 {color: white; background: #77554D ;}
li a {color: orangered;}
nav a {color: orangered; font-size: 25px; font-weight: bold;}
li {line-height: 4px;} 
.elegirnos {color: hsl(60, 98%, 43%);}
.laNacion {color: rgb(0, 162, 255)}
.pagina12{color: red;}